
<main class="px-5 py-12">

<section class="flex gap-2">

<img src="company-avatar" alt="avatar">

<div class="flex flex-col gap-2">

<p>idea_name</p>
<p>company_name</p>

</div>

container btn like & dislike
<div class="flex gap-4 justify-center text-center">

    btn like & count like
<div class="flex items-center justify-center gap-2">
<button>like</button>
<p>like_count</p>
</div>

    btn dislike & count dislike
<div class="flex items-center justify-center gap-2">
<button>dislike</button>
<p>dislike_count</p>
</div>

</div>

</section>

<section>
contenu du idea
</section>

</main>
