<div>
  <h1 class="font-bold text-4xl">Portfolios#show</h1>
  <p>Find me in app/views/portfolios/show.html.erb</p>
</div>

<main class="px-5 py-12">

profile

<section class="flex gap-2">
<img src="company-avatar" alt="avatar">
<div class="flex flex-col gap-2">
<p>company_name</p>
<p>company_catchprase</p>
</div>
</section>

description du portfolio/de entreprise
<section>
<h2>Description</h2>
<p>description</p>
</section>

<section>
<h2>Projets</h2>

map les projects

<ul class="max-w-[97dvw] mx-auto grid grid-cols-1 gap-12 rounded-b-[20px] p-12 md:grid-cols-3">

card
<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>

 card
<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>

 card
<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>



 </ul>
</section>


<section>
<h2>Idées</h2>

map les ideas

<ul class="max-w-[97dvw] mx-auto grid grid-cols-1 gap-12 rounded-b-[20px] p-12 md:grid-cols-3">

card
<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>

 card
<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>

 card
<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>



 </ul>
</section>

</main>
