<%# render 'projects/components/project_card', project: project %>
<li>
  <%= link_to project_path(project), class: "w-full mb-4 cursor-pointer" do %>
    <div class="overflow-hidden rounded-[24px] mb-4 flex flex-col h-[300px] w-full relative items-center justify-center
    bg-white/5 backdrop-blur-lg border border-white/20 shadow-lg">
      <%= cl_image_tag project.avatar.key,
          alt: project.title,
          class: "object-contain transition-all duration-400 ease-in-out hover:scale-110" %>
    </div>
    <div class="flex flex-col gap-2">
      <h3 class="text-2xl uppercase font-semibold"><%= project.title %></h3>
      <p class="uppercase text-[var(--tag-color)] font-medium">TAG</p>
    </div>
  <% end %>
</li>
