<%# render 'projects/components/project_card', project: project %>

<li>
  <%= link_to project_path(project), class: "relative block group overflow-hidden rounded-2xl shadow-lg" do %>
    <%= cl_image_tag project.avatar.key,
      alt: project.title,
      class: "w-full h-60 object-cover transition-all duration-300 group-hover:brightness-50" %>

    <h3 class="absolute inset-0 flex items-center justify-center text-white text-xl font-semibold opacity-0 transition-all duration-300 group-hover:opacity-100">
      <%= project.title %>
    </h3>
  <% end %>
</li>
