<main class="container mx-auto min-h-screen my-8">

  <h1 class="text-4xl sm:text-4xl font-bold text-center my-4">
    Les Réalisations
  </h1>

  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <% @projects.each do |project| %>

      <%= render 'projects/components/project_card', project: project %>

    <% end %>
  </ul>

</main>
