
<main class="px-5 py-12">
<section class="flex gap-2">
<img src="company-avatar" alt="avatar">
<div class="flex flex-col gap-2">
<p>project_name</p>
<p>company_name</p>
</div>
</section>

<section>
contenu du projet
</section>

</main>
