<main class="container mx-auto">

  <section id="home-hero" class="text-center my-8">
    <h1 class="font-bold text-4xl uppercase">
      Collaborez, créez, innovez
      <br>
      <span class="text-2xl">
        Olenx Platforms
      </span>
    </h1>

    <p class="mt-4 w-8/10 mx-auto text-gray-400">
      Connectez freelances et entreprises : découvrez des portfolios inspirants, proposez des projets ambitieux, et collaborez en toute simplicité sur une plateforme dédiée.
    </p>
  </section>

  <section id="home-portfolios" class="py-12 px-6">
    <!-- Titre principal -->
    <h2 class="text-xl sm:text-4xl font-bold relative pb-4 mb-8">
      Les Portfolios
    </h2>

    <!-- Liste des portfolios -->
    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">
      <% @portfolios.each do |portfolio| %>

        <%= render 'portfolios/components/portfolio_card', portfolio: portfolio %>

      <% end %>
    </ul>

  </section>

  <section class="home-ideas py-12 px-6">

    <h2 class="text-xl sm:text-4xl font-bold relative pb-4 mb-8">
      Les Projets
    </h2>

    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">
      <% @ideas.each do |idea| %>

        <%= render 'ideas/components/idea_card', idea: idea %>

      <% end %>
    </ul>

  </section>

  <section class="home-ideas py-12 px-6">

    <h2 class="text-xl sm:text-4xl font-bold relative pb-4 mb-8">
      Les Réalisations
    </h2>

    <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto">
      <% @projects.each do |project| %>

        <%= render 'projects/components/project_card', project: project %>

      <% end %>
    </ul>

  </section>

</main>
