<main>
<section class="p-12 flex flex-col justify-center items-center gap-8 text-center mb-4">
  <h1>
  Collaborez, créez, innovez<br></br>{" "}
  <span>OLENX Platforms</span>{" "}
  <p class="max-w-[80%] text-sm">  Connectez freelances et entreprises : découvrez des
  portfolios inspirants, proposez des projets ambitieux, et
  collaborez en toute simplicité sur une plateforme dédiée.</p>
</h1>
</section>

<section>
<ul class="max-w-[97dvw] mx-auto grid grid-cols-1 gap-12 rounded-b-[20px] p-12 md:grid-cols-3">
/map tous les portfolios, ideas et projects

<li>
 <div class="w-full mb-4 cursor-pointer" >
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />

 <div class="flex flex-col gap-2">
<h3>card.title</h3>
<p class="uppercase line-clamp-3">card.description</p>
</div>
 </div>
 </li>

 <div class="w-full mb-4 cursor-pointer">
 <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" />
 <div class="flex flex-col gap-2">
 <h3>card.title</h3>
 <p>card.description</p>
 </div>
 </div>

</ul>

</section>

</main>
