<h1>Mes idées</h1>
<ul  class="max-w-[97dvw] mx-auto grid grid-cols-1 gap-12 rounded-b-[20px] p-12 md:grid-cols-3">
  <% @ideas.each do |idea| %>
    <li class="idea-card">

    card
    <div class="w-full mb-4 cursor-pointer" >
    <img class="w-full object-cover object-center transition-all duration-400 ease-in-out hover:scale-110" src="idea.image"/>
    <div class="flex flex-col gap-2">
      <h3><%= link_to idea.title, idea_path(idea) %></h3>
      <p class="uppercase line-clamp-3"><%= idea.description.truncate(100) %></p>
      </div>

    </li>
    </div>
  <% end %>
</ul>
