<header>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to 'Admin Dashboard', admin_users_path %>
      </li>
      <li>
        <%= link_to 'Mon Compte', edit_user_registration_path %>
      </li>
      <li>
        <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete, alert: "Êtes-vous sûr de vouloir vous déconnecter?" } %>
      </li>
    </ul>
  </nav>
</header>
